.noResult {
  height: 500px;
  max-width: 525px;

  margin-inline: auto;
}
.noResult > h3 {
  font-size: 64px;
  text-align: center;
  line-height: 86.66px;
}
.noResult > p {
  font-size: 20px;
  text-align: center;
  line-height: 30px;

  width: 100%;
  margin-top: 10px;
  margin-inline: auto;

  text-overflow: clip;
}

@media only screen and (max-width: 550px) {
  .noResult > h3 {
    font-size: 48px;
  }
}
