.user {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.user__data {
  display: grid;
  place-items: center;
  gap: 10px;

  height: fit-content;

  flex: 1;

  background-color: rgba(94, 113, 146, 25%);
  padding-bottom: 20px;

  border-radius: 15px;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.user__data > h2 {
  font-size: 36px;
  margin-top: 5px;
  margin-bottom: -5px;

  height: 54px;

  text-transform: capitalize;
}
.user_name {
  margin-top: 10px;
  height: 40px;
  width: 50%;
}

.user__data > img {
  width: 180px;
  height: 180px;

  object-fit: contain;

  border-radius: 50%;
}

.ProfileImg__skeleton {
  width: 180px;
  height: 180px;

  border-radius: 50%;
  animation: ProfileImgloading 1s linear infinite alternate;
}

@keyframes ProfileImgloading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.user__allPosts {
  margin-top: 35px;
}

.user__allPosts > h2 {
  position: relative;

  font-size: 36px;
  font-weight: 600;
  text-align: center;

  margin-bottom: 70px;
}
.user__allPosts > h2::after {
  content: "";
  width: 150px;
  height: 2px;
  background-color: rgb(109, 117, 132);

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
}
.createPost__button {
  width: 85%;
  height: 45px;
  background-color: rgb(49, 97, 241);

  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 500;

  border-radius: 15px;
  outline-width: 0;
  border-width: 0;
  cursor: pointer;
}
.logout__button {
  background-color: red;
}

.user__allPosts h3 {
  margin-top: 40px;
}
@media only screen and (max-width: 830px) {
  .logout__button {
    margin-bottom: 30px;
  }
  .user__allPosts h3 {
    text-align: center;
  }
}
