.App {
  min-height: 100%;
  padding-inline: 180px;
  padding-top: 50px;
  padding-bottom: 200px;
  background: linear-gradient(180deg, #374151 0%, #111827 100%);

  overflow-x: hidden;

  font-family: var(--ff-primary);
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #50546a;
  border-radius: 5px;
}

@media only screen and (max-width: 1200px) {
  .App {
    padding-inline: 50px;
  }
}

@media only screen and (max-width: 930px) {
  .App {
    padding-inline: 20px;
    padding-top: 20px;
  }
}
@media only screen and (max-width: 400px) {
  .App {
    padding-inline: 13px;
  }
}
